build-*/
**/*.sublime-project
**/*.sublime-workspace
*.ilk
*.pdb
*.obj
*.exe
*.rdi
**/*.vs
**/build*/
site/api
**/*.DS_Store
**/x64
siteold/index.html
siteold/vd_fw.html
siteold/search-index.json
site-base/index.html
site-base/vd_fw.html
site-base/search-index.json
site-base/vd_dlg.html
