name: Build and Deploy Site

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install GCC
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Build the Site
        run: ./scripts/linux/build_site.sh

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./site-base/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v4